    body {
        background: #314755;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #314755, #26a0da);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #314755, #26a0da);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .biotext {
        float: relative;
    }
    
    .navbar {
        font-family: sans-serif;
    }
    
    .bio-image {
        float: left;
        margin: 0 15px 15px 0;
    }
    
    .main-section {
        padding: 30px;
        margin: 0 0 40px 0;
        width: 100%;
        max-width: 650px;
        float: left;
        background: black;
        border: 1px solid #ddd;
        color: #9d9d9d;
    }
    
    .sidebar {
        padding: 30px;
        margin: 0 0 40px 0;
        width: 100%;
        max-width: 650px;
        float: left;
        padding: 30px;
        background: #fff;
        border: 1px solid #ddd;
    }
    
    .formtype {
        margin-bottom: 70px;
    }
    
    .socialmedia {
        width: 80px;
        height: 80px;
        margin: 8px 8px 8px 8px;
        position: relative;
        top: 5px;
        left: 10px;
    }
    
    nav a:hover {
        color: #5E7F7E;
    }
    
    .socialmedia:hover {
        cursor: pointer;
        opacity: .8;
    }
    
    .portimg h3 {
        position: absolute;
        bottom: 20px;
        margin-bottom: 0;
        padding: 15px;
        width: 100%;
        color: #fff;
        text-align: center;
        line-height: 30px;
        font-weight: 300;
        border-bottom: 0;
        background: #314755;
        background: -webkit-linear-gradient(to left, #314755, #26a0da);
        background: linear-gradient(to left, #314755, #26a0da);
    }
    
    .portimg {
        position: relative;
        width: 274px;
        overflow: auto;
        float: left;
        margin: 20px 0 25px;
    }
    
    .portimg:nth-child(even) {
        margin-right: 40px;
    }
}
.portimg img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}
footer {
    padding: 30px;
    clear: both;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    color: #ccc;
    font-size: 16px;
    text-align: center;
    background: black;
    overflow: auto;
    position: relative;
}
@media (max-width: 991px) {
    nav,
    main {
        max-width: 756px;
    }
    
    #bio-image {
        padding: 10px 0 20px 0;
    }
}
@media (max-width: 767px) {
    #bio-image {
        padding: 10px 30px 10px 0;
    }
    
    .main-section {
        margin-bottom: 40px;
    }
    
    .sidebar {
        padding: 50px;
        overflow: auto;
        max-width: 100%;
        min-width: 100%;
        width: 500px;
    }
}
@media (max-width: 640px) {
    .bio-image {
        max-width: 100%;
        min-width: 100%;
        padding-right: 0;
    }
    
    .portimg {
        max-width: 100%;
        min-width: 100%;
    }
    
    .sidebar {
        min-width: 100%;
        max-m=width: 100%;
    }
